<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>

    <div id="app-7">
    <div>table_name:<input id="table_name" name="table_name"> fields split by |:<input id="fields" name="fields"> main key<input id="main_key" name="main_key"></div>
    <div><button name='insert' @click='insert()'>insert</button></div>
    <div>data:<textarea id="insert_data" name="data" style="width:1700px; height:700px;"></textarea></div>

    </div>
<script>
  const BASE_URL = 'http://' + document.domain + '/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    items1: [],
    base_url: BASE_URL
  },
created() {},

methods: {
    insert: function() {
        table_name = document.getElementById('table_name').value;
        fields = document.getElementById('fields').value;
        main_key = document.getElementById('main_key').value;
        data = document.getElementById('insert_data').value;
        this.$http.post(BASE_URL + 'admin/batch_insert_act', {"table_name":table_name, "fields":fields, "main_key":main_key, "data":data}).then(function(result){
            if (result.data.result === 0){alert('success!');}
            else{alert('failed');}
        })
    },
    }
})
</script>
<style lang="stylus">
    .column-direction
        display flex
        flex-direction column
</style>
</html>
