<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>

    <div id="app-7">
    <div>table_name:<input id="table_name" name="table_name", value={{table_name}}> fields split by |:<input id="fields" name="fields", value={{fields}}> main key<input id="main_key" name="main_key"></div>
    <div><button name='insert' @click='insert()'>insert</button></div>
        <div><button name='delete' @click='delete_mul()'>delete</button></div>
        <div><button name='load_data' @click='load_data()'>load_data</button></div>
    <div>data:<textarea id="insert_data" name="data" style="width:1700px; height:700px;"></textarea></div>

    </div>
<script>
  const BASE_URL = 'http://' + document.domain + '/api/sns/v1/lit/';
  function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var Request = new Object();
    Request = GetRequest();
    var tablename = Request['tablename'];
    var fields = Request['fields'];

var app7 = new Vue({
  el: '#app-7',
  data: {
    items1: [],
    base_url: BASE_URL
  },
created() {this.onload();},

methods: {
    // onload: function () {
    //     document.getElementById('fields').value = 'region|word';
    //     document.getElementById('table_name').value = tablename;
    // },

    insert: function() {
        table_name = document.getElementById('table_name').value;
        fields = document.getElementById('fields').value;
        main_key = document.getElementById('main_key').value;
        data = document.getElementById('insert_data').value;
        this.$http.post(BASE_URL + 'admin/batch_act', {"table_name":table_name, "fields":fields, "main_key":main_key, "data":data}).then(function(result){
            if (result.data.result === 0){alert('success!');}
            else{alert('failed');}
        })
    },

    delete_mul: function() {
        table_name = document.getElementById('table_name').value;
        fields = document.getElementById('fields').value;
        main_key = document.getElementById('main_key').value;
        data = document.getElementById('insert_data').value;
        this.$http.post(BASE_URL + 'admin/batch_act?is_delete=True', {"table_name":table_name, "fields":fields, "main_key":main_key, "data":data}).then(function(result){
            if (result.data.result === 0){alert('success!');}
            else{alert('failed');}
        })
    },

    load_data:function() {
        table_name = document.getElementById('table_name').value;
        fields = document.getElementById('fields').value;
        console.log(table_name)
        this.$http.post(BASE_URL + 'admin/load_table_data', {"table_name":table_name, "fields":fields}).then(function(result) {
            var data = result.data.data;
            document.getElementById('insert_data').value = data;
        })
    }

    }

})
</script>
<style lang="stylus">
    .column-direction
        display flex
        flex-direction column
</style>
</html>
