<html>
<span style="font-size:12pt;font-family:Arial;">Seperti di komunitas mana pun, terdapat aturan-aturan untuk melindungi semua pengguna untuk memastikan pengguna memiliki pengalaman yang menyenangkan dan nyaman<br />
• Bersikap baik pada teman baru Anda 💛<br />
• Anda dapat melaporkan profil atau perilaku yang tidak pantas: tim peninjau kami akan memeriksa 😮<br />
• Hanya gunakan gambar pribadi Anda ✌️<br />
• Gambar dengan pakaian dalam atau tanpa pakaian tidak diperbolehkan 👮</span>
</html>