<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Guidelines</title>
</head>
<body>
<span style="font-size:10pt;font-family:Arial;">Chào mừng đến với gia đình Lit của chúng ta!<br />
Tại Litmatch, chúng tôi đóng góp cho sự tiến bộ của con người bằng cách xây dựng cầu nối giữa mọi người, để chúng ta thoả sức thể hiện bản thân, sống trong khoảnh khắc vui vẻ cùng nhau. Chúng tôi hy vọng rằng Litmatch sẽ trở thành một nền tảng rộng mở, nơi mọi người có thể giải toả mọi lo lắng, tự tin là chính mình, gặp gỡ những người bạn mới và chia sẻ mọi hạnh phúc trong cuộc sống. Chúng tôi tạo ra Nguyên tắc cộng đồng này để hỗ trợ người dùng Litmatch tha hồ thể hiện bản thân, có những trải nghiệm tuyệt vời, và để đảm bảo người dùng chúng tôi được sử dụng dịch vụ một cách an toàn và vui vẻ mỗi ngày.<br />
Quốc gia khác nhau, nhưng cùng một thế giới<br />
Bạn đến từ khắp nơi trên thế giới và đã gặp nhau ở nơi tuyệt vời này. Bạn có nếp sống và văn hóa truyền thống khác nhau, nhưng chúng ta đều tôn trọng lẫn nhau. Chúng tôi mời bạn cùng nhau khám phá những câu chuyện của mỗi người, vui mừng khi có những điểm chung và tôn trọng sự khác biệt của nhau.<br />
Hãy cùng nhau duy trì sân chơi tuyệt vời này nhé<br />
Chúng tôi làm việc chăm chỉ để tạo ra một môi trường hẹn hò lành mạnh tốt đẹp cho mỗi thành viên và hy vọng bạn có thể tuân theo các quy tắc của chúng tôi. Nghiêm cấm đăng ảnh khỏa thân , tình dục ở bất cứ đâu trong Litmatch. Chúng tôi sẽ không ngần ngại mời bạn ra khỏi sân chơi khi bạn phá vỡ các quy tắc trên.<br />
Đối xử nồng nhiệt với mọi thứ và đối xử chân thành với mọi người.<br />
Chúng tôi tin rằng người dùng sử dụng Litmatch với mong muốn gặp được những người bạn lắng nghe, nhiệt tình và tốt bụng. Sự nhiệt tình luôn có giá trị, nhưng thư rác và quấy rối thì sẽ không được chấp nhận. Chúng tôi không muốn bạn quấy rối và bắt nạt người khác khi trò chuyện, hành vi này cũng sẽ dẫn đến tài khoản của bạn sẽ bị khoá.<br />
Chúng tôi mong muốn tạo ra một môi trường lành mạnh và an toàn. Ở đây bạn có thể tìm thấy hạnh phúc và tận hưởng cuộc sống một cách thoải mái vui vẻ và an toàn. Do đó, các mối đe dọa, bạo lực và thương tích cá nhân đều không được phép.<br />
Bạn thật sự may mắn khi được là bạn, cảm thấy tự tin là chính mình.<br />
Chúng tôi hy vọng rằng bạn có thể thể hiện con người thật của mình trên Litmatch và giải phóng áp lực mà bạn không thể nói ra trong cuộc sống. Chúng tôi tin rằng một khi bạn bắt đầu gặp gỡ những người bạn mới ở đây, bạn chắc chắn sẽ có một trải nghiệm khó quên và hạnh phúc. Chỉ cần bạn thể hiện con người thật của mình, bạn sẽ được chào đón ở gia đình Litmatch. Ngôn từ kích động thù địch và thông tin sai lệch sẽ chỉ trở thành vật cản để bạn giao tiếp với người khác.<br />
Litmatch là một nền tảng mở, phong phú và không có chỗ cho:<br />
1. Thư rác<br />
Không gửi spam, không gửi yêu cầu phiếu bầu, không gửi quảng cáo không được yêu cầu hoặc thư dây chuyền hoặc các văn bản quá dài vượt mức.<br />
2. Nội dung bất hợp pháp<br />
a. Lừa đảo<br />
Litmatch có chính sách không khoan nhượng đối với bất kỳ hình thức hành vi lừa đảo. Bất cứ ai cố gắng lấy thông tin cá nhân của người dùng khác thông qua các hoạt động gian lận hoặc bất hợp pháp đều có thể bị cấm. Đồng thời, chúng tôi cấm người dùng đăng bất kỳ liên kết đường link lừa đảo trên ứng dụng.<br />
b. Gian lận<br />
Không được phép hack Litmatch hoặc tài khoản Litmatch của ai đó, hành vi này sẽ vi phạm pháp luật, điều đó có nghĩa là bạn có thể phải đối mặt với nguy cơ bị phạt tù hoặc phạt tiền.<br />
c. Dịch vụ tình dục<br />
Không cung cấp dịch vụ mại dâm và cấm mọi hình thức giao dịch tình dục. Không tham gia vào nội dung khiêu dâm trẻ em.<br />
3. Khủng bố<br />
Các tổ chức khủng bố bị cấm sử dụng trong ứng dụng của chúng tôi và chúng tôi không chấp nhận cho nội dung ủng hộ hoặc thúc đẩy khủng bố. Người dùng không được đăng bất kỳ thông tin nào về khủng bố ở bất cứ đâu trên ứng dụng.<br />
Những hướng dẫn này được tạo ra Litmatch trở thành một nền tảng rộng mở và an toàn để người dùng cảm thấy thoải mái an toàn tại đây. Việc không tuân theo các hướng dẫn này sẽ dẫn đến việc bạn sẽ bị cảnh cáo hoặc bị khoá tài khoản. Xin lưu ý rằng chúng tôi không có nghĩa vụ phải thông báo trước cho bạn trước khi chúng tôi thực hiện các biện pháp này. Nếu bạn có hành vi vi phạm nghiêm trọng, chúng tôi sẽ ngay lập tức cấm bạn truy cập vào ứng dụng chúng tôi.</span>
</body>
</html>