<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Guidelines</title>
</head>
<body>
<span style="font-size:10pt;font-family:Arial;"><span style="font-size:10pt;font-family:Arial;">ยินดีต้อนรับสู่ครอบครัวLit ของเรา!<br />
ที่ Litmatch เรามีส่วนร่วมในความก้าวหน้าของมนุษย์โดยการสร้างสะพานเชื่อมระหว่างผู้คน เพิ่มขีดความสามารถให้ผู้คนได้แสดงความเป็นตัวเอง ใช้ช่วงเวลาและสนุกไปด้วยกัน เราหวังว่า litmatch จะเป็นแพลตฟอร์มเปิดกว้างให้ทุกคนสามารถผ่อนคลาย มั่นใจที่จะเป็นตัวเอง พบเพื่อนใหม่และแบ่งปันทุก ๆ ความสุขในชีวิต เราสร้างแนวทางชุมชนเหล่านี้เพื่อสนับสนุนให้ผู้ใช้ Litmatch ได้แสดงความเป็นตัวเองและได้รับประสบการณ์ที่ดีขึ้น ในขณะที่มั่นใจได้ว่าผู้ใช้ของเราจะใช้บริการของเราได้อย่างปลอดภัยและมีความสุขในทุก ๆ วัน<br />
ต่างที่ต่างถิ่น แต่อยู่ในโลกใบเดียวกัน คุณมาจากทั่วทุกมุมโลกและพบกันในสถานที่ที่ยอดเยี่ยมนี้ คุณมีวิถีชีวิตและวัฒนธรรมที่แตกต่างกัน แต่คุณก็เคารพซึ่งกันและกัน เราขอเชิญชวนให้คุณค้นพบเรื่องราวของกันและกัน ชื่นชมยินดีในพื้นฐานของกันและกัน และให้เกียรติกันระหว่างผู้คน ทำงานร่วมกันในสถานที่ที่สวยงาม<br />
เราทำงานอย่างหนักเพื่อสร้างสภาพแวดล้อมการออกเดทที่เป็นพลังบวกและยอดเยี่ยมแก่สมาชิกแต่ละคน และหวังว่าคุณจะสามารถปฏิบัติตามกฎได้ที่ซึ่งห้ามโพสต์ภาพโป๊เปลือยและเนื้อหาทางเพศใด ๆ ใน litmatch เราจะไม่ลังเลที่จะปิดกั้นคุณหาคุณทำผิดกฎ<br />
ปฏิบัติต่อสิ่งต่าง ๆ อย่างอ่อยโยนและปฏิบัติต่อผู้อื่นอย่างจริงใจ เราเชื่อว่าผู้ใช้ที่ใช้ litmatch ต้องการพบผู้ฟังที่ดีและคนที่มีหัวใจอบอุ่น ที่นี่ความกระตือรือร้นนั้นมีค่า แต่สแปมและการล่วงละเมิดไม่ใช่สิ่งที่น่าชื่นชม เราไม่ต้องการให้คุณล่วงละเมิดและรังแกผู้อื่นขณะสนทนา พฤติกรรมนี้จะส่งผลให้บัญชีของคุณถูกปิดกั้น<br />
เราส่งเสริมสภาพแวดล้อมที่เป็นพลังบวกและปลอดภัย คุณสามารถพบความสุขและเพลิดเพลินกับการใช้ชีวิตได้ที่นี่ ในเวลาเดียวกันฉันหวังว่าคุณจะปลอดภัยและมีสุขภาพที่ดีในทั่วทุกมุมโลก ดังนั้นไม่อนุญาตภัยคุกคาม ความรุนแรงและการทำร้ายส่วนบุคคล คุณได้รับพรที่จะเป็นตัวคุณเองได้อย่างแท้จริง และมั่นใจที่จะเป็นตัวของตัวเอง<br />
เราหวังว่าคุณจะสามารถแสดงความเป็นตัวคุณเองบน Litmatch และปลดปล่อยความกดดันที่คุณไม่สามารถพูดได้ในชีวิตจริง เราเชื่อว่าเมื่อคุณเริ่มพบเพื่อนใหม่ที่นี่ คุณจะได้รับประสบการณ์ที่น่าจดจำและมีความสุข ตราบใดที่คุณแสดงตัวตนที่แท้จริงของคุณ คุณจะได้รับการยอมรับในครอบครัว lit คำพูดแสดงความเกลียดชังและข้อมูลที่เป็นเท็จจะกลายเป็นเพียงอุปสรรคสำหรับคุณในการสื่อสารกับผู้อื่น<br />
Litmatch เป็นแพลตฟอร์มที่เปิดกว้างและสมบูรณ์ไม่มีที่สำหรับ:<br />
1. จดหมายขยะ<br />
อย่าสแปม อย่าพยายามลงคะแนนโหวตอย่าส่งโฆษณาหรือจดหมายลูกโซ่ที่ไม่พึงประสงค์และอย่าเขียนข้อความยาวเกินไป<br />
2. เนื้อหาที่ผิดกฎหมาย<br />
ก. การหลอกลวง<br />
Litmatch มีนโยบายที่จะไม่อดทนต่อรูปแบบของพฤติกรรมการล่าใด ๆ ใครก็ตามที่พยายามรับข้อมูลส่วนตัวของผู้ใช้คนอื่น ๆ ผ่านการฉ้อโกงหรือกิจกรรมที่ผิดกฎหมายอาจถูกปิดกั้น ในเวลาเดียวกันเราห้ามผู้ใช้โพสต์ลิงก์อุปนัยใด ๆ บนแพลตฟอร์ม หรือการฉ้อโกง<br />
b. แฮ็ค<br />
อย่าพยายามแฮ็ค Litmatch หรือบัญชี Litmatch ของใครบางคน พฤติกรรมนี้เป็นการละเมิดกฎหมายซึ่งหมายความว่าคุณอาจต้องเผชิญกับความเสี่ยงจากการถูกจำคุกหรือถูกปรับ<br />
c. บริการทางเพศสัมพันธ์<br />
อย่าให้บริการค้าประเวณีหรือเพื่อนเที่ยว และห้ามทำธุรกรรมทางเพศทุกรูปแบบ ห้ามมีภาพลามกอนาจารของเด็ก<br />
3. การก่อการร้าย<br />
ห้ามมิให้องค์กร Terroist ใช้แพลตฟอร์มของเราและเราไม่มีความอดทนต่อเนื้อหาที่สนับสนุนหรือส่งเสริมการก่อการร้าย ผู้ใช้จะต้องไม่โพสต์ข้อมูลใด ๆ เกี่ยวกับการก่อการร้ายใด ๆ บนแพลตฟอร์ม<br />
แนวทางเหล่านี้ได้รับการออกแบบเพื่อทำให้ litmatch เป็นแพลตฟอร์มเปิดและปลอดภัยสำหรับทุกคนที่จะรู้สึกว่าปฏิบัติตาม หากไม่ปฏิบัติตามแนวทางเหล่านี้จะส่งผลให้มีคำเตือนบนแพลตฟอร์มหรือถูกปิดกั้น โดยแพลตฟอร์มโปรดทราบว่าเราไม่มีภาระผูกพันใด ๆ เราใช้มาตรการเหล่านี้หากคุณมีการละเมิดที่ร้ายแรงเราจะห้ามไม่ให้คุณเยี่ยมชมเว็บไซต์นี้ทันที</span></span>
</body>
</html>