<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Guidelines</title>
</head>
<body>
<p>
	<span style="font-size:10pt;font-family:Arial;"><span style="font-size:10pt;">Selamat datang di Litfamily kami！<br />
Di Litmatch, kami berkontribusi pada kemajuan manusia untuk membangun jembatan antara orang-orang, memberdayakan orang untuk mengekspresikan diri mereka, menikmati momen dan bersenang-senang bersama. Kami harap litmatch dapat menjadi platform terbuka di mana semua orang dapat melepaskan semua kekhawatiran mereka, merasa yakin menjadi diri mereka sendiri, bertemu teman baru dan berbagi setiap kebahagiaan dari hidup mereka. Kami menciptakan Pedoman Komunitas ini untuk mendukung pengguna Litmatch untuk mengekspresikan diri mereka dan memiliki pengalaman yang lebih baik sambil memastikan pengguna kami dapat menggunakan layanan kami dengan aman dan bahagia setiap hari.<br />
Negara yang berbeda, dunia yang sama<br />
Anda datang dari seluruh belahan dunia dan bertemu di tempat yang indah ini. Anda memiliki kebiasaan hidup dan budaya yang berbeda, tetapi Anda juga dapat saling menghormati. Kami mengundang Anda untuk menemukan cerita masing-masing, berbahagia dalam kesamaan satu sama lain, dan menghormati perbedaan di antara orang-orang.<br />
Bekerja bersama untuk memelihara taman yang indah.<br />
Kami bekerja keras untuk menciptakan lingkungan kencan yang sehat dan baik untuk setiap anggota, dan berharap Anda dapat mengikuti aturan. Anda dilarang memposting konten porno / seksual di mana saja di litmatch. Kami tidak akan ragu untuk meninggalkan Anda di gerbang ketika Anda melanggar aturan.<br />
Perlakukan sesama Anda dengan hangat dan tulus<br />
Kami percaya bahwa pengguna yang menggunakan litmatch ingin bertemu dengan pendengar yang baik dan ramah di sini. Antusiasme sangat berharga, tetapi spam dan pelecehan sama sekali tidak menyenangkan. Kami tidak ingin Anda melecehkan dan menggertak orang lain saat mengobrol, perilaku ini juga akan menyebabkan akun Anda diblokir.<br />
Kami mempromosikan lingkungan yang sehat dan aman. Di sini Anda dapat menemukan kebahagiaan dan menikmati hidup. Di saat yang sama, kami harap Anda bisa aman dan sehat di setiap sudut di dunia. Karena itu, ancaman, kekerasan, dan cedera pribadi tidak diperbolehkan.<br />
Anda benar-benar diberkati menjadi diri Anda, bersikaplah percaya diri menjadi diri Anda sendiri.<br />
Kami harap Anda dapat menunjukkan diri Anda yang sebenarnya di Litmatch dan melepaskan tekanan yang tidak dapat Anda bicarakan di kehidupan nyata. Kami percaya begitu Anda mulai bertemu teman baru di sini, Anda pasti akan memiliki pengalaman yang tak terlupakan dan rasa bahagia. Selama Anda menunjukkan diri Anda yang sebenarnya, Anda akan dikenali dalam keluarga. Perkataan yang berisi kebencian dan informasi palsu hanya akan menjadi batu sandungan bagi Anda untuk berkomunikasi dengan orang lain.<br />
Litmatch adalah platform terbuka dan kaya, maka tidak ada tempat untuk:<br />
1. spam<br />
Jangan mengirim spam, jangan mencoba merekrut orang, jangan mengirim iklan atau surat berantai yang tidak diminta dan jangan membanjiri atau menulis teks yang terlalu panjang<br />
2. Konten Ilegal<br />
Penipuan<br />
Litmatch memiliki kebijakan nol toleransi untuk segala bentuk perilaku predator. Dilarang keras untuk siapa pun yang mencoba mendapatkan informasi pribadi pengguna lain melalui penipuan atau kegiatan ilegal. Pada saat yang sama, kami melarang pengguna memposting tautan induktif apa pun pada platform untuk phishing atau penipuan.<br />
b. Meretas<br />
Jangan mencoba meretas Litmatch atau akun Litmatch orang lain, perilaku tersebut akan melanggar hukum, yang berarti bahwa Anda mungkin menghadapi risiko hukuman penjara atau denda.<br />
c. Layanan seksual<br />
Jangan memberikan layanan prostitusi atau pengawalan, dan melarang segala bentuk transaksi seks. Jangan terlibat dalam pornografi anak.<br />
3. Terorisme<br />
Organisasi teroris dilarang menggunakan platform kami dan kami tidak memiliki toleransi untuk konten yang menganjurkan atau memajukan terorisme. Pengguna tidak boleh memposting informasi apa pun tentang terorisme di mana pun di platform.<br />
Panduan ini dirancang untuk membuat litpatch platform terbuka dan aman agar semua orang merasa puas di sini. Kegagalan untuk mengikuti pedoman ini akan menghasilkan peringatan platform atau dilindungi oleh platform. Harap perhatikan bahwa kami tidak memiliki kewajiban untuk memberi tahu Anda terlebih dahulu sebelum kami mengambil langkah-langkah ini. Jika Anda memiliki pelanggaran serius, kami akan segera melarang Anda mengunjungi situs web </span><span style="font-size:10pt;color:#1155CC;"><a class="in-cell-link" target="_blank" href="http://ini.uk/">ini.uk</a></span><span style="font-size:10pt;"> phishing atau penipuan.<br />
b. retas<br />
Jangan mencoba meretas Litmatch atau akun Litmatch seseorang, perilaku tersebut akan melanggar hukum, yang berarti bahwa Anda mungkin menghadapi risiko hukuman penjara atau denda.<br />
c. Layanan seksual<br />
Jangan memberikan layanan prostitusi atau pengawalan, dan melarang segala bentuk transaksi seks. Jangan terlibat dalam pornografi anak.<br />
3. Terorisme<br />
Organisasi teroris dilarang menggunakan platform kami dan kami tidak memiliki toleransi untuk konten yang menganjurkan atau memajukan terorisme. Pengguna tidak boleh memposting informasi apa pun tentang terorisme di platform.<br />
Panduan ini dirancang untuk membuat litmatch platform terbuka dan aman agar semua orang merasa puas di sini. Kegagalan untuk mengikuti pedoman ini akan menghasilkan peringatan platform atau dilindungi oleh platform. Harap perhatikan bahwa kami tidak memiliki kewajiban untuk memberi tahu Anda terlebih dahulu sebelum kami mengambil langkah-langkah ini. Jika Anda melakukan pelanggaran serius, kami akan segera melarang Anda mengunjungi situs web ini.</span></span>
</p>
<p>
	<br />
</p>
</body>
</html>