<html>
<title>Rule</title>
<span>
<p class="ql-long-667442">
    1. When you match success，you have three minutes to talk with other party
</p>
<p class="ql-long-667442">
    2. You have 10 matching opportunities every day
</p>
<p class="ql-long-667442">
    3. If you think other party is nice，you can click like button，if other party also likes you，you two match success，you can enjoy Unlimited chat with other party
</p>
<p class="ql-long-667442">
    4. Do not leave when you have not finish talking，that will  make you lose other party, can not be retrieved
</p>
<p class="ql-long-667442">
    5. Do not behave badly，or you will need more time to match success and serious circumstances will be blocked.
</p>
</span>
</html>