<html>
<title>Rule</title>
<span>
<p>
    1. เมื่อคุณพบแมทช์ คุณมีเวลา 3 นาทีเพื่อทำความรู้จักกัน<br />
    2. คุณสามารถแมทช์ได้ 10 ครั้งต่อวัน<br />
    3. หลังจากพบแมทช์แล้ว ถ้าคุณอยากรู้จักเพื่อนนิรนามของคุณมากขึ้น คุณสามารถกดไลค์ และ หากเพื่อนิรนามของคุณกดไลค์กลับ จะปลดล็อคแชทแบบไม่จำกัดเวลา <br />
    4. อย่าออกจากแชทนิรนามหากคุณยังคุยไม่เสร็จ หากไม่ได้กดไลค์กัน แชทจะหายไปและไม่สามารถกู้กลับมาได้ <br />
    5. อย่าประพฤติตัวไม่ดี ไม่เช่นนั้นคุณจะต้องใช้เวลามากขึ้นในการจับคู่ หรือ อาจจะถูกลบบัญชี
</p>
<p>
    <br />
</p>
</span>
</html>