<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>

    <input id="app-7">
    <div>region:<select id="region" name="region" size="10" multiple="multiple">
        {% for region in regions %}
        <option value="{{region}}">{{region}} </option>
        {% endfor %}
    </select>
        </div>

    <div>message:<textarea id="message_area" name="message"></textarea></div>
    <div>数量:<text id="num_area" type="text" name="num" οninput="value=value.replace(/[^\d]/g,'')"></text></div>
    <div><button name='send_message' @click='send_message()'>send_message</button></td></div>>

<script>
  const BASE_URL = 'http://' + document.domain + '/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    items1: [],
    base_url: BASE_URL
  },
created() {},

methods: {
    send_message: function() {
        region = document.getElementById('region').value;
        message = document.getElementById('message_area').value;
        num = document.getElementById('num_area').value;
        this.$http.post(BASE_URL + 'admin/msg_to_region', {"region":region, "message":message, "num":num}).then(function(result){
            if (result.data.result === 0){alert('success!');}
            else{alert('failed');}
        })
    },
    }
})
</script>
<style lang="stylus">
    .column-direction
        display flex
        flex-direction column
</style>
</html>
