<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Guidelines</title>
    <p>
	<p style="font-size:15px;color:#404040;">
		<strong>Welcome to our Litfamily！</strong>
	</p>
	<p style="font-size:15px;color:#404040;">
		At Litmatch, we contribute to human progress by building a bridge between people, empowering people to express themselves, live in the moment and have fun together.We hope that litmatch can be an open platform where everyone can release all their worries, feel confident being their true selves, meet new friends and share every happiness in  life. We created these Community Guidelines to support Litmatch users to express theirselves and have a better experience while making sure our users can use our services safely and happily every day.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<strong>Different countries, the same world</strong>
	</p>
	<p style="font-size:15px;color:#404040;">
		You come from all over the world and meet in this wonderful place. You have different living habits and traditional culture, but you also respect each other. We invite you to discover each other's stories, rejoice in each other's common ground, and respect the differences between people.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<strong>Work together to maintain a beautiful garden</strong>
	</p>
	<p style="font-size:15px;color:#404040;">
		We work hard to create a healthy and good dating environment for each member, and hope you can follow the rules. It is prohibited to post nudity and sexual content anywhere in litmatch. We won't hesitate to leave you at the gate when you break the rules.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<strong>Treat things warmly and treat others sincerely</strong>
	</p>
	<p style="font-size:15px;color:#404040;">
		We believe that users who use litmatch want to meet warm-hearted and good listeners here. Enthusiasm is valuable, but spam and harassment are not flattering at all. We do not want you to harass and bully others while chatting, this behavior will also lead to your account being blocked.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		We promote a healthy and safe environment. Here you can find happiness and enjoy life. At the same time, I hope you can be safe and healthy in every corner of the world. Therefore, threats, violence and personal injury are not allowed.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<strong>You are truly blessed to be you, feel confident being your true self.</strong>
	</p>
	<p style="font-size:15px;color:#404040;">
		We hope that you can show your true self on Litmatch and release the pressure that you cannot talk about in real life. We believe that once you start meeting new friends here, you will surely have an unforgettable and happy experience. As long as you show your true self, you will be recognized in litfamily. Hate speech and false information will only become a stumbling block for you to communicate with others.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		Litmatch is an open and enriching platform there's no place for:&nbsp;
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<ol style="font-size:15px;color:#404040;">
		<li>
			<strong>spam</strong>
		</li>
	</ol>
	<p style="font-size:15px;color:#404040;">
		Don't spam, dont try to recruit votes, dont send unsolicited commercials or chain letters and dont flood or write excessively long texts
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<ol style="font-size:15px;color:#404040;">
		<li>
			<strong>Illegal Content</strong>
		</li>
	</ol>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		a. Scamming
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		Litmatch has a zero tolerance policy for any form of predatory behavior. Anyone who attempts to obtain other users' private information through fraud or illegal activities may be prohibited. At the same time, we prohibit users from posting any inductive links on the platform for phishing or fraud.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		b.&nbsp;hack
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		Don’t try to hack Litmatch or someone ’s Litmatch account, the behavior will violate the law, which will mean that you may face the risk of imprisonment or fines.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		c. Sexually services
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		Do not provide prostitution or escort services, and prohibit any form of sex transactions. Do not engage&nbsp; in child pornography.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<ol style="font-size:15px;color:#404040;">
		<li>
			<strong>Terrorism</strong>
		</li>
	</ol>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		Terroist organizations are prohibited from using our platform and we have no tolerance for content that advocates or advances terrorism.Users must not post any information about terrorism anywhere on the platform.
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		<br />
	</p>
	<p style="font-size:15px;color:#404040;">
		These guidelines are designed to make litpatch an open and secure platform for everyone to feel fulfilled here. Failure to follow these guidelines will result in a platform warning or being shielded by the platform. Please note that we have no obligation to inform you in advance before we take these measures. If you have serious violations, we will immediately prohibit you from visiting this website.
	</p>
</p>
<p>
	<br />
</p>
</head>
<body>

</body>
</html>