<html>
<title>Rule</title>
<span>
<p>
    1. Sau khi kết nối thành công, bạn có 3 phút trò chuyện với đối phương<br />
    2. Bạn có 10 lần kết nối mỗi ngày<br />
    3. Bạn chọn đối phương hãy nhấn nút thích, nếu đối phương cũng thích bạn, hai người sẽ kết nối thành công, bạn có thể tham gia cuộc trò chuyện không giới hạn với đối phương<br />
    4. Đừng rời đi khi chưa kết thúc cuộc trò chuyện, điều đó sẽ khiến bạn mất kết nối hoàn toàn với đối phương<br />
    5. Hãy cư xử văn minh, nếu không bạn sẽ mất nhiều thời gian để kết nối thành công hoặc bị chặn"
</p>
</span>
</html>