<html>
<title>Rule</title>
<span>
<p>
    1. Ketika match Anda berhasil, Anda mempunyai waktu 3 menit untuk mengobrol dengan lawan bicara.<br />
    2. Anda setiap hari mempunyai kesempatan matching sebanyak 10 kali.<br />
    3. Jika menurut tertarik dengan lawan bicara, Anda dapat mengklik tombol suka, jika lawan bicara juga menyukai Anda maka match berhasil, Anda dapat mengobrol tanpa batasan waktu.<br />
    4. Jangan meninggalkan obrolan ketika waktu belum selesai berbicara, ini akan membuat Anda kehilangan lawan bicara dan tidak dapat dikembalikan.<br />
    5. Jangan berperilaku buruk, atau Anda akan memerlukan waktu yang lebih lama untuk match agar berhasil dan kemungkinan terburuk ialah Anda akan diblokir.<br />
</p>
</span>
</html>