<html>
<title>Rule</title>
<span>
<p>
    1. When you match success，you have three minutes to talk with other party<br />
    2. You have 10 matching opportunities every day<br />
    3. If you think other party is nice，you can click like button，if other party also likes you，you two match success，you can enjoy Unlimited chat with other party<br />
    4. Do not leave when you have not finish talking，that will  make you lose other party, can not be retrieved<br />
    5. Do not behave badly，or you will need more time to match success and serious circumstances will be blocked.
</p>
<p>
    <br />
</p>
<p>
    1. เมื่อคุณพบแมทช์ คุณมีเวลา 3 นาทีเพื่อทำความรู้จักกัน<br />
    2. คุณสามารถแมทช์ได้ 10 ครั้งต่อวัน<br />
    3. หลังจากพบแมทช์แล้ว ถ้าคุณอยากรู้จักเพื่อนนิรนามของคุณมากขึ้น คุณสามารถกดไลค์ และ หากเพื่อนิรนามของคุณกดไลค์กลับ จะปลดล็อคแชทแบบไม่จำกัดเวลา <br />
    4. อย่าออกจากแชทนิรนามหากคุณยังคุยไม่เสร็จ หากไม่ได้กดไลค์กัน แชทจะหายไปและไม่สามารถกู้กลับมาได้ <br />
    5. อย่าประพฤติตัวไม่ดี ไม่เช่นนั้นคุณจะต้องใช้เวลามากขึ้นในการจับคู่ หรือ อาจจะถูกลบบัญชี
</p>
<p>
    <br />
</p>
</span>
</html>