<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<div id="app-7">
<table class="tb" border="1">
<tr>
 <th>report user id</th>
 <th>reported user id</th>
 <th>reason</th>
 <th>pictures</th>
 <th>report time</th>
 <th>ban</th>
 <th>reject</th>
 </tr>
<tr v-for="item in items1">
<td>{{item.user_id}}</td>
<td>{{item.target_user_id}}</td>
<td>{{item.reason}}</td>
<td
  v-if="item.pics.length > 0"
   >
  <img v-for="pic in item.pics" width= "300" height="533" :src="base_url +'image/' + pic">
</td>

<td v-if="item.pics.length === 0">
no pictures
</td>

<td>{{item.create_time}}</td>
<td><button name='ban'  style="background:red" @click='ban(item.report_id)'>ban</button></td>
<td><button name='reject' @click='reject(item.report_id)'>reject</button></td>
</tr>
</table>
<button v-if="previous_start >= 0" name="previous_page" @click="previous_page()">previous page</button>
<button v-if="next_start >= 0" name="next_page" @click="next_page()">next page</button>
</div>
<script>
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var Request = new Object();
    Request = GetRequest();
    var Loc = Request['loc']
    console.log(Request['loc'])
    if(!Loc){
        Loc='TH'
    }
    const BASE_URL = 'http://' + document.domain + '/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    items1: [],
    base_url: BASE_URL,
    next_start: 100000000000,
    previous_start: -1
  },
created() {this.submitForm();},

methods: {
      submitForm: function() {
        this.$http.get(BASE_URL + 'admin/query_reports?sid=session.1239394106468792255&dealed=False').then(function(result){
        var data = result.data.data;
	this.items1 = data.objs;
    this.previous_start = this.next_start;
                    this.next_start = data.next_start;
	      })
      },
    reject: function(report_id){
      var url = BASE_URL + 'admin/reject/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', result.data);
        if (result.data.result === 0){
            let newItem1 = [];
            this.items1.forEach(item => {
                if (item.report_id !== report_id) {
                newItem1.push(item)
            }
        })
            this.items1 = newItem1
        }
        else{alert('failed');}
      })

    },
    ban: function(report_id){
      var url = BASE_URL + 'admin/ban/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.items1);
        if (result.data.result === 0){alert('success!');}
        else{alert('failed');}
        let newItem1 = [];
        this.items1.forEach(item => {
          if (item.report_id !== report_id) {
            newItem1.push(item)
          }
        })

        this.items1 = newItem1

      })
    },


    next_page: function() {
        this.$http.get(BASE_URL + 'admin/query_reports', {params:{start_ts: this.next_start, loc:Loc}}).then(function(result){
            var data = result.data.data;
            this.objs = data.objs;
            this.items1 = this.objs;
            this.next_start = data.next_start;
            if(this.next_start===0){
                this.previous_start = -1;
            }
        })
    },

    previous_page: function() {
        this.$http.get(BASE_URL + 'admin/query_reports', {params:{start_pos: this.previous_start, loc:Loc}}).then(function(result){
            var data = result.data.data;
            this.feeds = data.feeds;
            this.next_start = this.previous_start;
            if(this.next_start===0){
                this.previous_start = -1;
            }

        })
    },
    }
})
</script>
</html>
