<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<head>
 <meta http-equiv="Cache-Control" content="max-age=7200" />

<div id="app-7">
<table class="tb" border="1">
<tr>
 <th>report user id</th>
 <th>reported user id</th>
 <th>reason/feed content/chat record</th>
 <th>pictures</th>
 <th>audio</th>
 <th>ban/reject/ban_device</th>
 </tr>
<tr v-for="item in items1">
<td>{{item.user_id}}<hr /> {{item.create_time}} </td>
<td><pre>{{item.target_user_id}}</pre></td>
    <td>reason: {{item.reason}}<hr /> content:<pre>{{item.content}}</pre><hr />chat:<pre>{{item.chat_record}}</pre> <hr />picture_from_feed: <pre style="background:lightpink" >{{item.pic_from_feed}}</pre></td>
<td
  v-if="item.pics.length > 0"
   >
  <img v-for="pic in item.pics" width= "300" height="533" :src="base_url +'simage/' + pic">
</td>

<td v-if="item.pics.length === 0">
no pictures
</td>
    <td><audio v-if="item.audio_url" audio id="audio1" controls="controls" :src="item.audio_url" type="audio/x-mpeg">
</audio> </td>
<td><button name='ban'  style="width:200px;height:50px; background:red" @click='ban(item.report_id)'>ban</button><br /> <br /><br /> <button name='reject' style="width:200px;height:60px; background:green" @click='reject(item.report_id)'>reject</button>
    <br /><br />  <button name='ban_reporter' style="background:green" @click='ban_reporter(item.user_id)'>ban_reporter</button><br /><br />
    <button name='ban_device'  style="background:darkred" @click='ban_device(item.report_id)'>ban_device</button></td>
</tr>
</table>
<!-- <button v-if="previous_start >= 0" name="previous_page" @click="previous_page()">previous page</button> -->
<button v-if="next_start >= 0" name="next_page" @click="next_page()">next page</button>
</div>
<script>
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var Request = new Object();
    Request = GetRequest();
    var Loc = Request['loc']
    console.log(Request['loc'])
    var Dealed = Request['dealed']
    var Showmatch = Request['show_match']
    if(!Loc){
        Loc='TH'
    }
    if(!Showmatch){
        Showmatch='False'
    }
    if(!Dealed){
        Dealed='False'
    }
    const BASE_URL = 'http://' + document.domain + '/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    items1: [],
    base_url: BASE_URL,
    next_start: 100000000000,
    previous_start: -1
  },
created() {this.submitForm();},

methods: {
      submitForm: function() {
        this.$http.get(BASE_URL + 'admin/query_reports?sid=session.1239394106468792255&dealed=False' + '&loc=' + Loc + '&show_match=' + Showmatch).then(function(result){
        var data = result.data.data;
	this.items1 = data.objs;
    this.previous_start = this.next_start;
                    this.next_start = data.next_start;
	      })
      },
    reject: function(report_id){
      var url = BASE_URL + 'admin/reject/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', result.data);
        if (result.data.result === 0){
            let newItem1 = [];
            this.items1.forEach(item => {
                if (item.report_id !== report_id) {
                newItem1.push(item)
            }
        })
            this.items1 = newItem1
        }
        else{alert('failed');}
      })

    },
    ban: function(report_id){
      var url = BASE_URL + 'admin/ban/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.items1);
        if (result.data.result === 0){}
        else{alert('failed');}
        let newItem1 = [];
        this.items1.forEach(item => {
          if (item.report_id !== report_id) {
            newItem1.push(item)
          }
        })

        this.items1 = newItem1

      })
    },
    ban_device: function(report_id){
      var url = BASE_URL + 'admin/ban_device/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.items1);
        if (result.data.result === 0){}
        else{alert('failed');}
        let newItem1 = [];
        this.items1.forEach(item => {
          if (item.report_id !== report_id) {
            newItem1.push(item)
          }
        })

        this.items1 = newItem1
      })
    },
    ban_reporter: function(user_id){
      var url = BASE_URL + 'admin/ban_reporter/' + user_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.items1);
        if (result.data.result === 0){}
        else{alert('failed');}
        let newItem1 = [];
        this.items1.forEach(item => {
          if (item.user_id !== user_id) {
            newItem1.push(item)
          }
        })

        this.items1 = newItem1

      })
    },
    next_page: function() {
        this.$http.get(BASE_URL + 'admin/query_reports', {params:{start_ts: this.next_start, loc:Loc, dealed:Dealed, show_match:Showmatch}}).then(function(result){
            var data = result.data.data;
            this.objs = data.objs;
            this.items1 = this.objs;
            this.next_start = data.next_start;
            if(this.next_start===0){
                this.previous_start = -1;
            }
        })
    },

    previous_page: function() {
        this.$http.get(BASE_URL + 'admin/query_reports', {params:{start_pos: this.previous_start, loc:Loc, show_match: Showmatch}}).then(function(result){
            var data = result.data.data;
            this.objs = data.objs;
            this.items1 = this.objs;
            this.next_start = this.previous_start;
            if(this.next_start===0){
                this.previous_start = -1;
            }

        })
    },
    }
})
</script>
</head>
</html>
