<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<div id="app-7">
<table class="tb" border="1">
<tr>
 <th>report user id</th>
 <th>reported user id</th>
 <th>reason</th>
 <th>pictures</th>
 <th>report time</th>
 <th>ban</th>
 <th>reject</th>
 </tr>
<tr v-for="item in items1">
<td>{{item.user_id}}</td>
<td>{{item.target_user_id}}</td>
<td>{{item.reason}}</td>
<td
  v-if="item.pics.length > 0"
   >
  <img v-for="pic in item.pics" width= "300" height="533" :src="base_url +'image/' + pic">
</td>

<td v-if="item.pics.length === 0">
no pictures
</td>

<td>{{item.create_time}}</td>
<td><button name='ban'  style="background:red" @click='ban(item.report_id)'>ban</button></td>
<td><button name='reject' @click='reject(item.report_id)'>reject</button></td>
</tr>
</table>
</div>
<script>
  const BASE_URL = 'http://www.litatom.com/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    items1: [],
    base_url: BASE_URL
  },
created() {this.submitForm();},

methods: {
      submitForm: function() {
        this.$http.get(BASE_URL + 'admin/query_reports?sid=session.1239394106468792255&dealed=False').then(function(result){
	var res = result.data.data.objs;
	this.items1 = res;

	      })
      },
    reject: function(report_id){
      var url = BASE_URL + 'admin/reject/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', result.data);
        if (result.data.result === 0){alert('success!');}
        else{alert('failed');}
      })
      let newItem1 = [];
        this.items1.forEach(item => {
          if (item.report_id !== report_id) {
            newItem1.push(item)
          }
        })

        this.items1 = newItem1
    },
    ban: function(report_id){
      var url = BASE_URL + 'admin/ban/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.items1);
        if (result.data.result === 0){alert('success!');}
        else{alert('failed');}
        let newItem1 = [];
        this.items1.forEach(item => {
          if (item.report_id !== report_id) {
            newItem1.push(item)
          }
        })

        this.items1 = newItem1

      })
    },
    }
})
</script>
</html>
