<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<div id="app-7">
<table class="tb" border="1">
<tr>
 <th>info</th>
 <th>nickname</th>
 <th>pictures</th>
    <th>comment</th>
    <th>like</th>
 <th>time info</th>
 <th>is_hq</th>
    <th>add_to_hq</th>
 <th>delete</th>
 </tr>
<tr v-for="feed in feeds">
<td>{{feed.user_id}}</td>
<td>{{feed.target_user_id}}</td>
<td>{{feed.reason}}</td>
<td
  v-if="feed.pics.length > 0"
   >
  <img v-for="pic in feed.pics" width= "300" height="533" :src="base_url +'image/' + pic">
</td>

<td v-if="feed.pics.length === 0">
no pictures
</td>

<td>{{feed.create_time}}</td>
<td><button name='ban'  style="background:red" @click='ban(feed.report_id)'>ban</button></td>
<td><button name='reject' @click='reject(feed.report_id)'>reject</button></td>
</tr>
</table>
</div>
<script>
  const BASE_URL = 'http://www.litatom.com/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    feeds1: [],
    base_url: BASE_URL
  },
created() {this.onLoad();},

methods: {
      onLoad: function() {
        this.$http.get(BASE_URL + 'feed/query_reports').then(function(result){
	var res = result.data.data.objs;
	this.feeds1 = res;

	      })
      },
    reject: function(report_id){
      var url = BASE_URL + 'admin/reject/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', result.data);
        if (result.data.result === 0){
            let newfeed1 = [];
            this.feeds1.forEach(feed => {
                if (feed.report_id !== report_id) {
                newfeed1.push(feed)
            }
        })
            this.feeds1 = newfeed1
        }
        else{alert('failed');}
      })

    },
    ban: function(report_id){
      var url = BASE_URL + 'admin/ban/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.feeds1);
        if (result.data.result === 0){alert('success!');}
        else{alert('failed');}
        let newfeed1 = [];
        this.feeds1.forEach(feed => {
          if (feed.report_id !== report_id) {
            newfeed1.push(feed)
          }
        })

        this.feeds1 = newfeed1

      })
    },
    }
})
</script>
</html>
