<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<div id="app-7">
<table class="tb" border="1">
<tr>
 <th>content</th>
 <th>nickname</th>
 <th>pictures</th>
    <th>comment</th>
    <th>like</th>
 <th>time info</th>
 <th>is_hq</th>
    <th>add_to_hq</th>
 <th>delete</th>
 </tr>
<tr v-for="feed in feeds">
<td>{{feed.content}}</td>
<td>{{feed.user_info.nickname}}</td>
<td
  v-if="feed.pics.length > 0"
   >
  <img v-for="pic in feed.pics" width= "30%" :src="base_url +'image/' + pic">
</td>

<td v-if="feed.pics.length === 0">
no pictures
</td>
<td>{{feed.comment_num}}</td>
    <td>{{feed.like_num}}</td>
<td>{{feed.create_time.time_desc}}</td>
    <td>{{String(feed.in_hq)}}</td>
<td><button name='add_to_hq'  style="background:red" @click='add_hq(feed)'>add_to_hq</button></td>
<td><button name='delete_feed' @click='delete_feed(feed)'>delete_feed</button></td>
</tr>
</table>
</div>
<script>
  const BASE_URL = 'http://test.litatom.com/api/sns/v1/lit/';
var app7 = new Vue({
  el: '#app-7',
  data: {
    feeds: [],
    base_url: BASE_URL,
    next_start: 0,
      previous_start:0
  },
created() {this.onLoad();},

methods: {
      onLoad: function() {
        this.$http.get(BASE_URL + 'admin/feeds_square').then(function(result){
	var data = result.data.data;
	this.feeds = data.feeds;
            this.previous_start = this.next_start;
                    this.next_start = data.next_start;

	      })
      },
    delete_feed: function(feed){

        var url = BASE_URL + 'admin/delete_feed/' + feed.id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', result.data);
        if (result.data.result === 0){
            this.feeds =  this.feeds.filter(el => el.id != feed.id);
        }
        else{alert('failed');}
      })
    },
    add_hq: function(feed){
      var url = BASE_URL + 'admin/ban/' + report_id;
      this.$http.get(url).then(function(result){
        console.log('!!!!!!', this.feeds1);
        if (result.data.result === 0){alert('success!');}
        else{alert('failed');}
        let newfeed1 = [];
        this.feeds1.forEach(feed => {
          if (feed.report_id !== report_id) {
            newfeed1.push(feed)
          }
        })

        this.feeds1 = newfeed1

      })
    },
    }
})
</script>
</html>
